<div class="row animated fadeIn">
  <div class="col-md-12 mb-4">
    <h1 [translate]="'Dashboard.ModuleTitle'"></h1>
  </div>
  <div class="col-xl-7 col-lg-12 my-3">

  </div>

  <div class="col-xl-5 col-lg-12 my-3">

  </div>
</div>

